*{
    padding: 0px;
    margin: 0px;
}
.container{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 500px;
    background: #0cbedd;
    padding-top: 20px;
}
.label{
    font-size: 1.2rem;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
}
form{
    margin: auto;
    justify-content: center;
    align-items: center;
}